[user]
  name = Shunsuke Yamazaki
  email = 
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	shared = true
	editor = vim
[github]
  user = blue-emc2
[credential]
  helper = osxkeychain
[credential "https://github.com"]
  username = blue-emc2
[http]
	sslVerify = false
[alias]
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  cm = commit -v
  co = checkout
  st = status
  difff = diff --word-diff
  br = for-each-ref --sort=committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[push]
	default = nothing
[pull]
	rebase = true
[grep]
	lineNumber = true
